header {
    --top-hight: 50px;
    --nav-hight: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header a {
    color: #fff;
}


.top-header {
    height: 60px;
    background-color: #131921;
    color: #fff;
    display: flex;
    padding: 5px;
    
}


form {
    display: flex;
}

.top-header .logo {
    background: url('../assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png') no-repeat 3.937% 12.114%;
	width: 96px;
	height: 29px;
}

.top-header .logo-box {   
    height: var(--top-hight);
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b-h {
    border: 1px solid transparent;
    border-radius: 1.5px;
}

.b-h:hover {
    border: 1px solid white;
    border-radius: 1.5px;

}

.deliver-to {
    height: var(--top-hight);
    width: 90px;
    
}

.deliver-to a .location1{
    color: rgb(204, 204, 204);
    font-size: 12px;
}

.deliver-to a .location2{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
/* TODO:change to bold */


.sign-in a {
    display: flex;
    flex-direction: column;
}

.sign-in {
    padding: 5px;
    width: 140px;
}
.returns {
    padding: 5px;
    width: 100px;
}

.sign-in a .sign1, .returns1 {
    font-size: 12px;
}
.sign-in a .sign2, .returns2 {
    font-size: 14px;
}



.deliver-to a {
    display: flex;
    padding-top: 7px;
    padding-left: 5px;
    width: 90px;
}



.location-logo {
	background: url('../assets/images//nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png') no-repeat 21.194% 87.529%;
	width: 15px;
	height: 17px;
    padding-top: 30px;
    padding-right: 20px;
}

/* nav serch 430/60 */

.search-bar {
    width: 70% ;
    height: 38px;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 3px;
    margin-left: 10px;
    position: relative;
    flex-grow: 100;
}

.search-bar .nav-left {
    background-color: #f3f3f3;
    height: 100%;
    width: 52px;
    border-right: 1px solid #cdcdcd;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #555;
    font-size: 12px;
    line-height: 33px;
    padding-top: 4px;
    padding-left: 10px;
    position: relative;
}

.search-bar .nav-left:hover {
    background-color: #cdcdcd;
    cursor: pointer;

}

 .nav-icon {
    position: absolute;
    top: 19px;
    right: 8px;
    border-style: solid;
    _border-style: dashed;
    border-width: 4px;
    border-color: transparent;
    border-top: 4px solid #666;
    border-bottom-width: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}

/* .lang .nav-icon {
    border-top: 4px solid #cdcdcd;
}
TODO: add the arrow icon to the flag */


.nav-fill input {
    height: 100%;
    /* padding-left: 30px; */
    outline: none;
    border:none;
    background: transparent;
    width: 400px;
}

/* TODO: to fix the input so in would cover the searchbar and glow */

.search-bar .nav-right {
    width: 50px;
    height: 100%;
    background-color: rgb(254, 189, 105);
    position: absolute;
    right: 0;
    border-radius: 0 4px 4px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.search-bar .nav-right:hover {
    background-color: #e5aa5f;
    cursor: pointer;
}


.search-logo {
	background: url('/assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png') no-repeat 3.04% 67.599%;
	width: 21px;
	height: 21px;
   
}

.flag-img {
    background: url("/assets/images/american-flag-logo-vector.png")   ;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 28px;
	height: 30px;
}

.lang {
    margin-left: 5px;
    height: var(--top-hight);
    width: var(--top-hight);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-img {
	background: url('../assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png') no-repeat -218px -337px;
	width: 41px;
	height: 28px;

}

.cart-icon a{
    width: 90px;
    display: flex;
}

.cart-icon {
    line-height: 40px;
    padding-top: 10px;
}


/* .cart-num {
    position: absolute;
    right:0;
} */

.nav-header {
    height: 40px;
    background-color: #222f3e;
    padding: 5px;
    display: flex;
    overflow: hidden;

}

.nav-header-left {
    padding: 5px;
    height: var(--nav-hight) ;

}

.nav-header-left a{
    display:flex;
}

.hamburger {
	background: url('../assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png') no-repeat -172px -255px;
	width: 18px;
	height: 14px;
}

.nav-all {
    font-weight: 700;
    font-size: 14px;
    padding-left: 5px;
    white-space: nowrap;
}
/* TODO: to bold */

.nav-header-fill {
    display: flex;
}

.nav-header-content {
    display: flex;
}



.nav-header-content a, .nav-header-right a{
    display: flex;
    font-size: 14px;
    margin: 5px 1px 6px 0;
    padding: 0 11px;
}

.sub-header img {
    width: 650px;
    min-width: 300px;
}

.sub-header {
    margin: 0 auto;
    overflow-x: hidden;
}

.bread-crumbs, .bread-crumbs a {
    color: #565959;
    font-size: 12px;
    padding: 5px;
}

.bread-crumbs ul {
    list-style: none;
    display: flex;
    flex-direction: start;
    padding: 0;
    margin-top: 0;
}

.bread-crumbs, header, .nav-header{
    min-width: 996px;
}



