.main {
    
    padding-top: 0;
    min-width: 996px;
    /* border: 2px solid black; */
    display: flex;
   }
  
   .main a {
     color: #007185;
     text-decoration: none;
     font-size: 14px;
   }
  
  
   .main a:hover{
     text-decoration: underline;
     color: #C7511F
   }
  
   .left-col {
     width: 48%;
     /* position: relative; */
     padding: 20px;
     margin-right: 20px;
     /* border: 5px solid chartreuse; */
   }
  
   .info-section {
      width: 26%;
      
      /* flex-grow: 2; */
      /* border: 5px solid cornflowerblue; */
   }
  
   .order-section {
      /* width: 20%; */
      width: 300px;
      /* border: 5px solid pink; */
      /* margin-left: 24px; */
   }

   

   .down-icon {
	background: url('../assets/images/media.png') no-repeat -366px -88px;
	width: 7px;
	height: 4px;
    opacity: .6;
    margin: 5px 10px 0 10px;
    width: 7px;
    height: 5px;
    background-position: -90px -5px;
    
}

   .stars-img {
	background: url('../assets/images/stars.png') no-repeat -84px -28px;
	width: 80px;
	height: 15px;
    margin-top: 3px;
}

h1 {
    font-size: 26px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

.stars-div {
    display: flex;
}

.raiting {
    margin-left: 10px;
}

hr {
    background-color: transparent;
    display: block;
    height: 1px;
    border-width: 0;
    border-top: 1px solid #e7e7e7;
    line-height: 19px;
    margin-top: 10px;
    margin-bottom: 14px;
}

.info-mid {
    font-size: 14px;
    display: grid;
    line-height: 14.5px;
    grid-template-columns: repeat(38, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    }
            
            .div1 { grid-area: 1 / 1 / 2 / 10; }
            .div2 { grid-area: 2 / 1 / 3 / 10; }
            .div3 { grid-area: 3 / 1 / 4 / 10; }
            .div4 { grid-area: 4 / 1 / 5 / 10; }
            .div5 { grid-area: 5 / 1 / 6 / 10; }
            .div6 { grid-area: 1 / 11 / 2 / 39; }
            .div7 { grid-area: 2 / 11 / 3 / 39; }
            .div8 { grid-area: 3 / 11 / 4 / 39; }
            .div9 { grid-area: 4 / 11 / 5 / 39; }
            .div10 { grid-area: 5 / 11 / 6 / 39; }
            .div11 { grid-area: 1 / 10 / 2 / 11; }
            .div12 { grid-area: 2 / 10 / 3 / 11; }
            .div13 { grid-area: 3 / 10 / 4 / 11; }
            .div14 { grid-area: 4 / 10 / 5 / 11; }
            .div15 { grid-area: 5 / 10 / 6 / 11; }

            .div5{
                line-height: 1.3em;
            }

            .div1, .div2, .div3, .div4, .div5 {
                font-weight: 800;
            }

    .info-bott ul li {
        font-size: 14px;
        line-height: 20px;
    }

    .info-li-head {
        font-weight: bold;
    }


    .top-box {
        width: 240px;
        margin: 0 auto;
        border: solid 1px #e7e7e7;
        padding: 15px 10px;
        border-radius: 6px;
    }

    .top-box a {
        font-size: 13px;
        color: #0F1111
    }

    .top-box a:hover {
        color: #0F1111;
        text-decoration: none;
    }

    .order-deliver-to a {
        color: #007185;
        padding-left: 15px;
    }

    .order-deliver-to a:hover {
        text-decoration: none;
        color: #C7511F
    }

    .btn {
        text-align: center;
        height: 33px;
        line-height: 33px;
        border-radius: 6px;
        width: 200px;
        margin: 0 auto;
        box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);

    }

    .similar-btn {
        background: #FFD814;
        border: solid 0.5px #FCD200;
        
    }

    .similar-btn:hover {
    background: #F7CA00;
    border-color: #F2C200;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}

    .options-btn{
        border: solid 0.5px #D5D9D9;
        margin: 10px;
        box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);

    }   

    .options-btn:hover{
        background-color: #f7f8f8;
    }

 .add-to-list-btn{
     text-align: left;
     background-color: #eee;
     padding-left: 10px;
     border: solid 0.5px rgb(213, 217, 217);
     }

     .add-to-list-btn:hover {
     box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
     }


     .social {
         width: 150px;
         display: flex;
         margin: 0 auto;
         margin-top: 10px;
         justify-content: space-between;
        }

    .social-text a {
        font-size: 13px;
        line-height: 19px;
    }

    .mail {
        background: url('../assets/images/social.png') no-repeat -256px -221px;
        width: 19px;
        height: 15px;
    }

    .facebook {
        background: url('../assets/images/social.png') no-repeat -237px -151px;
        width: 17px;
        height: 17px;
    }

    .twiter {
        background: url('../assets/images/social.png') no-repeat -192px -106px;
        width: 19px;
        height: 16px;
    }

    .pinterast {
        background: url('../assets/images/social.png') no-repeat -138px -14px;
	    width: 17px;
	    height: 18px;
    }

    .image-book {
        height: 500px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        
    }

    .all-pics {
        margin-top: 150px;
        height: 400px;
        width: inherit;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        /* position: relative; */

    }

    .smp {
        height: 40px;
        width:  40px;
        /* position: relative; */
        z-index: 100; 
        border: solid 0.5px black;
        margin: 5px;

    }

    .smp:hover {
        box-shadow:  0 0 3px 2px rgb(228 121 17 / 50%);
        border: solid 0.5px #e77600;
    }
    
    .small-pics-1 {
        background: url(/assets/images/allplatessm.jpg) no-repeat center center/cover;
    }  
    .small-pics-2 {
        background: url(/assets/images/threeSm.jpg) no-repeat center center/cover;
    }  
    .small-pics-3 {
        background: url(/assets/images/mealSm.jpg) no-repeat center center/cover;
    }  
    .small-pics-4 {
        background: url(/assets/images/ecoSm.jpg) no-repeat center center/cover;
    }  
    .small-pics-5 {
        background: url(/assets/images/blueSm.jpg) no-repeat center center/cover;
    }  
    .small-pics-6 {
        background: url(/assets/images/oneSm.jpg) no-repeat center center/cover;
    }  
    
    .small-pics-1::before {
        content:'';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        display: block;
        /* display: none; */
        background: url(/assets/images/allplates.jpg) no-repeat center;
    }

    .small-pics-1:hover::before {
        content:'';
        position: absolute;
        z-index: 100;
        display: block;
        
        
    }
    
    .small-pics-2::before {
        content:'';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left:0;
        z-index: 100;
        display: block;
        display: none;
        background: url(/assets/images/threeSm.jpg) no-repeat center;
    }
   
    .small-pics-2:hover::before {
        content:'';
        position: absolute;
        z-index: 100;
        display: block;
        
        
    }

    .small-pics-3::before {
        content:'';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        display: block;
        display: none;
        background: url(/assets/images/meal.jpg) no-repeat center;
    }
   
    .small-pics-3:hover::before {
        content:'';
        position: absolute;
        z-index: 100;
        display: block;
    }

    .small-pics-4::before {
        content:'';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        display: block;
        display: none;
        background: url(/assets/images/eco.jpg) no-repeat center;
    }
   
    .small-pics-4:hover::before {
        content:'';
        position: absolute;
        z-index: 100;
        display: block;
        
    }

    .small-pics-5::before {
        content:'';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        display: block;
        display: none;
        background: url(/assets/images/blue.jpg) no-repeat center;
    }
   
    .small-pics-5:hover::before {
        content:'';
        position: absolute;
        z-index: 100;
        display: block;
        
    }

    .small-pics-6::before {
        content:'';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        display: block;
        display: none;
        background: url(/assets/images/one.jpg) no-repeat center;
    }
   
    .small-pics-6:hover::before {
        content:'';
        position: absolute;
        z-index: 100;
        display: block;
        
    }

    .pic-text {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        visibility: hidden;
    }

    .small-pics-6::after {
        content:'Roll over image to zoom in';
        position: absolute;
        top: 490px;
        left: 0;
        z-index: 100;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        width: 100%;
    }