/* 


.image-section {
    width: 100% 
}

.left-col {
    position: sticky;
    top: 4px;
    height: 100%;
    float: left;
}

.image-book {
    margin-bottom: 22px;
}


box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}

.big-pic {
    height: 100px;
    width: 100px;
    background-color: cadetblue;
}

.small-pics {
    height: 30px;
    width: 30px;
    background-color: blueviolet;
}

.small-pics:hover {
    display: block;
} 